body {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
  font-family: "Menlo", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input, select, textarea {
  box-sizing: border-box;
  border-width: 3px !important;
}

textarea {
  padding: 1.1rem;
}

select {
  height: 50px;
}

h1 {
  text-align: center;
}

p {
  margin: 0;
}
